hr{
  margin-top: 10px;
    margin-bottom: 10px;
}
a{
  color:#000000;
  text-decoration: none;
}
a:hover{
  color: #FF0000;
  text-decoration: none;
}
#backtorepos{
  display: block;
  text-align: right;
}
.userDirective{
  display:inline-block;
}
#name-width{
  width:154px;
}
#date-width{
  width:91px;
}
#description-width{
  width:520px;
  text-align: justify;
}
#message-width{
  width:242px;
  text-align: justify;
}
.tableSection{
  display:inline-block;
}